<!DOCTYPE html>
<html>
  <head>
    <title>Liviucable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
    <%= render 'layouts/sidebar' %>
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <%= link_to '<>', '#menu-toggle', id: 'menu-toggle', class: 'btn btn-active' %>
            <%= link_to("Hello #{current_user.name}", '#', class: 'btn btn-active') if user_signed_in? %>
            <%= link_to("Logout", destroy_user_session_path, method: :delete, class: 'btn btn-active pull-right') if user_signed_in? %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Menu Toggle Script -->
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
  </script>
  </body>
</html>
