<!DOCTYPE html>
<html>
  <head>
    <title>Liviucable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2">
              <div class="well">
                <%= link_to 'All rooms', chat_rooms_path %>
              </div>
            </div>
            <div class="col-lg-8">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
